body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navigation panel */

.navigation-bar {
    background-color: #E5E5E5;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: 'Dancing Script', cursive; 
    color: #DC143C;
    font-size: 50px;
    padding-left: 2%;
}

.navigation-links {
    font-family: 'Sansita', sans-serif;
    color: #000000;
    font-size: 30px;
    padding-right: 2%;
}

.navigation-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-links li {
    display: inline-block;
}

.navigation-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    padding: 0px 7.5px;
    transition: color 0.2s ease-in-out;
}

.navigation-links a:hover {
    color: #DC143C;
}

/* Headline & main content */

.headline {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sansita', sans-serif;
    font-size: 42.5px;
}

.main {
    position: relative;
}

.main img {
    width: 100%;
    display: block;
}

.main-text {
    position: absolute;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Asap', sans-serif;
    font-size: 32.5px;
    font-weight: 500;
    line-height: 1.25;
    white-space: pre-wrap;
    bottom: 32.5%;
    left: 50px;
    padding-bottom: 20px;
}

.main-button {
    position: absolute;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    bottom: 27.5%;
    left: 7.5%;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
    padding: 10px 60px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.main-button:hover {
    color: #A9A9A9;
    border-color: #A9A9A9;
}

/* Services */

.services {
    position: relative;
    background-color: #DC143C;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Asap', sans-serif;
    width: 100%;
    height: 51vh;
}

.services-headline {
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
}

.services-text {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

.services-headings {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.service-heading {
    font-size: 40px;
}

.service-descriptions {
    display: flex;
    justify-content: space-around;
    line-height: 1.25;
}

.service-description {
    font-size: 25px;
    padding: 0px 70px;
    text-align: justify;
    text-justify: inter-word;
}

/* Team */

.team {
    position: relative;
    width: 100%;
    height: 75vh;
    font-family: 'Sansita', sans-serif;
}

.team-headline {
    color: #DC143C;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 30px;
}

.team-description {
    font-size: 30px;
    padding-left: 50px;
}

.employees {
    display: flex;
    font-family: 'Asap', sans-serif;
    justify-content: space-around;
    padding-top: 50px;
}

.employee-profile img {
    display: block;
}

.first-employee-color {
    height: 15px;
    background-color: #884EA0
}

.second-employee-color {
    height: 15px;
    background-color: #2980B9;
}

.third-employee-color {
    height: 15px;
    background-color: #2ECC71;
}

.fourth-employee-color {
    height: 15px;
    background-color: #DC7633;
}

.employee-name {
    color: #DC143C;
    font-size: 25px;
    padding: 2.5px 0px;
}

.employee-description {
    line-height: 1.25;
}

.team-button {
    position: absolute;
    cursor: pointer;
    top: 90%;
    left: 84.5%;
    transform: translate(-10%, -50%);
    border: 2px solid #DC143C;
    text-decoration: none;
    color: #DC143C;
    font-size: 25px;
    padding: 10px 60px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.team-button:hover {
    color: #EB2D53;
    border-color: #EB2D53;
}

/* Careers */

.careers {
    position: relative;
    width: 100%;
    height: 55vh;
    font-family: 'Sansita', sans-serif;
}

.careers-headline {
    color: #DC143C;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 30px;
}

.careers-description {
    font-size: 30px;
    padding-left: 50px;
}

.careers-offers {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    font-family: 'Asap', sans-serif;
}

.careers-single-offer-hr {
    width: 18vw;
    height: 2px;
    background-color: #000000;
}

.careers-single-offer-headline {
    color: #DC143C;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0px;
}

.careers-single-offer-city {
    color: #DC143C;
    font-size: 20px;
}

.careers-single-offer-description {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.25;
}

.careers-single-offer-see-more {
    text-decoration: none;
    color: #DC143C;
    font-size: 20px;
}

.careers-single-offer-see-more:hover {
    color: #EB2D53;
}

.careers-button {
    position: absolute;
    cursor: pointer;
    top: 87.5%;
    left: 84.5%;
    transform: translate(-10%, -50%);
    border: 2px solid #DC143C;
    text-decoration: none;
    color: #DC143C;
    font-size: 25px;
    padding: 10px 60px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.careers-button:hover {
    color: #EB2D53;
    border-color: #EB2D53;
}

/* Red headline & contact */

.headline-contact {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sansita', sans-serif;
    font-size: 42.5px;
    color: #FFFFFF;
    background-color: #DC143C;
}

.contact {
    position: relative;
}

.contact img {
    width: 100%;
    display: block;
}

.contact-text {
    position: absolute;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Asap', sans-serif;
    font-size: 32.5px;
    font-weight: 500;
    line-height: 1.25;
    white-space: pre-wrap;
    bottom: 27.5%;
    left: 50px;
}

.contact-form {
    position: absolute;
    background-color: #4D4D4D;
    opacity: 0.7;
    height: 60vh;
    width: 30vw;
    bottom: 9%;
    left: 62%;
}

.contact-form form {
    transform: translate(+10%, +15%)
}

.contact-form input {
    width: 80%;
    padding: 10px 10px;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #000000;
    outline: none;
    margin-bottom: 20px;
}

.contact-form #msg {
    height: 100px;
} 

.contact-form #btn {
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    background-color: #DC143C;
    border-radius: 40px;
}

.contact-form #btn:hover {
    background-color: #EB2D53;
}

/* Footer */

.footer {
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 27vh;
    background-color: #E5E5E5;
    font-family: 'Sansita', sans-serif;
    font-size: 35px;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
}

.footer-newsletter-headline {
    padding: 5px 0px;
}

.footer-newsletter input {
    width: 18vw;
    padding: 10px 10px;
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #000000;
    outline: none;
    margin: 5px 0px;
}

.footer-newsletter #btn {
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    background-color: #DC143C;
    border-radius: 40px;
}

.footer-newsletter #btn:hover {
    background-color: #EB2D53;
}

.footer-vertical-line {
    height: 21.5vh;
    width: 2px;
    background-color: #000000;
}

.footer-copyright {
    text-align: left;
}

.footer-copyright a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer-copyright a:hover {
    color: #DC143C;
}